{% extends 'base.html' %}

{% block content %}

<div style="height: 100vh">
    <div class="flex-center flex-column">
      <h1 class="animated fadeIn mb-4">MDBootstrap loves Django <i class="fa fa-heart red-text"></i></h1>
    </div>
</div>

<div class="row" style="height:500px">
  <div class="slider" >
        <ul class="slides">
          <li style="background-image: url(/media/static/1.jpeg); background-position: center;background-repeat: no-repeat;background-size: cover;">
            <div class="caption left-align">
              <h3>Welcome to The Gallery</h3>
              <h5 class="light grey-text text-lighten-3">We have images of all types. Scroll down to view some of the recent posts.</h5>
            </div>
          </li>
          <li style="background-image: url(/media/static/2.jpeg); background-position: center;background-repeat: no-repeat;background-size: cover;">
            <div class="caption right-align">
              <h3>See photos from different locations.</h3>
              <h5 class="light grey-text text-lighten-3">Our database contains pictures from various places in the World.</h5>
            </div>
          </li>
          <li style="background-image: url(/media/static/3.jpeg); background-position: center;background-repeat: no-repeat;background-size: cover;">
            <div class="caption center-align">
              <h3>Search photos according to Category</h3>
              <h5 class="light grey-text text-lighten-3">You can use the search bar to find photos in categories such as Travel, Food, Movies, Places, etc. Please explore</h5>
            </div>
          </li>
        </ul>
      </div>
</div>



<div class="row">
    <div class="container carousel">
    {%for image in images%}
    <div class="col s3">
        <img class="materialboxed" data-caption="{{image.name}}" src="{{image.image.url}}" height="200" width="200">
        
        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

        <!-- Modal Structure -->
        <div id="modal1" class="modal modal-fixed-footer">
          <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
          </div>
        </div>

    </div>
    {%empty%}
    <p>No images</p>
    {%endfor%}
    </div>
         
</div>


{% endblock %}

