{%extends 'base.html' %}


{% block content%}
{% load countries %}
{% get_countries as countries %}



<div class="row jarallax" style="padding-top: 100px; padding-bottom: 100px; background-image: url({{MEDIA_URL}}static/3.jpeg); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div class="container" style="margin-left:450px">

        <h2 class="text-white">{{message}}</h2>
    
    </div>
    <form action="{% url 'location' %}" style="margin-left: 450px; margin-top: 50px;">
        <select class="custom-select custom-select-sm " name="country">
            <option value="">Select Country:</option>
        {% for country in countries %}
            <option value="{{country.code}}">{{ country.name }}</option>
        {% endfor %}
        </select>
        <button class="btn aqua-gradient" type="submit">Find Pictures</button>
    </form>
</div>



<div class="row" style="margin-left:200px; margin-top: 50px;">
    {%for image in images%}

    <div class="view overlay zoom col-sm-3" 
    style="margin-bottom: 15px; margin-left: 15px; background-image: url({{image.image.url}});  
    background-position: center; background-repeat: no-repeat; background-size: cover;
    height:300px">

        <div class="mask flex-center waves-effect waves-light">
          <p class="white-text">{{image.name}}</p>
        </div>
        
        <!-- Button trigger modal -->
`        <a style="margin-top:260px; margin-left: 205px; color: white;" type="button" class="btn-floating" data-toggle="modal" data-target="#fullHeightModalRight{{image.id}}" data-toggle="tooltip" data-placement="top"
            title="View details">
            <i class="fas fa-info-circle fa-2x"></i>
          </a>

          
        <!-- Full Height Modal Right -->
        <div class="modal fade right" id="fullHeightModalRight{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      
        <!-- Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal -->
        <div class="modal-dialog modal-full-height modal-right" role="document">
        
        
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title w-100" id="myModalLabel">DETAILS</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" >
            <img src="{{image.image.url}}" class="" alt="zoom" width="380" height="400" style="object-fit: cover;">
            <div class="mask flex-center waves-effect waves-light">
              <p class="white-text">{{image.name}}</p>
            </div>


            <div class="container" style="margin-top: 30px;">
              <p class="black-text"><i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="View details"></i>{{image.description}}</p>
              <p class="black-text"><i class="fas fa-globe-africa"></i>{{image.location.country.name}}</p>
            </div>
          </div>
          <div class="modal-footer justify-content-center">
            <a href="{% url 'copy_image' image.id %}" class="btn aqua-gradient">Copy</a>
          </div>
        </div>
        </div>
        </div>
        <!-- Full Height Modal Right -->
    </div>

    
    {%empty%}
    <div class="container">
      <h5 style="margin-left: 300px; margin-top: 50px; margin-bottom: 100px;">{{no_message}}</h5>
    </div>
    {%endfor%}         
</div>

{%endblock%}