{%extends 'base.html' %}


{% block content%}
{% load countries %}
{% get_countries as countries %}



<div class="row" style="margin-top: 100px;">
    <form action="{% url 'location' %}">
        <select class="custom-select custom-select-sm" name="country">
            <option value="">Select Country:</option>
        {% for country in countries %}
            <option value="{{country.code}}">{{ country.name }}</option>
        {% endfor %}
        </select>
        <button class="waves-effect waves-light btn" type="submit">Submit</button>
    </form>
</div>



<div class="row">
<div class="container">
    <h5>{{message}}</h5>
</div>
{% if images %}
<div class="container">
{%for image in images %}
<img class="materialboxed" data-caption="{{image.name}}" src="{{image.image.url}}" height="200" width="200">
{%endfor%}
</div>
{%else%}
<div class="container">
    <p>No images for this Location</p>
</div>
</div>
{%endif%}
{%endblock%}