{% load fontawesome_5 %}
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="navbar-fixed">
    <nav class="red lighten-3">
      <div class="nav-wrapper">
        <a href="{% url 'home'%}" class="brand-logo"><i class="material-icons">camera</i>THE GALLERY</a>
        <ul class="right hide-on-med-and-down">

          <li class="nav-wrapper">
            
              <form role="search" action="{% url 'search' %}">
  
                <input id="search" type="search" name="search" style="color: black;" placeholder="Search for any category" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              </form>
            
          </li>
          <li class="tooltipped" data-position="bottom" data-tooltip="Search Location">
            <a href="{% url 'location'%}">{% fa5_icon 'globe-africa' 'fas' spin=True%}</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</body>
</html>
