{%extends 'base.html' %}

{%block content%}
<div class="row">
        {% if images %}
          <h2>Results for {{message}}:</h2>
        {% else %}
          <h2> Found 0 articles for the search term {{message}}</h2>
        {% endif %}
    
</div>

<div class="row">
        <div class="container carousel">
        {%for image in images%}
        {%if image.category.category == message %}
        <div class="col s3">
          <p>{{image.location.country.name}}</p>
            <img class="materialboxed" data-caption="{{image.name}}" src="{{image.image.url}}" height="200" width="200">
        </div>
        {%endif%}
        {%empty%}
        <p>No images</p>
        {%endfor%}
        </div>             
</div>
{%endblock%}
